body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img {
  display: block;
  margin-top: 6rem;
}

.width50 {
  margin-left: auto;
  margin-right: auto;
  width:70%;

}
label {
  padding: 0.5rem;
  font-size:large;
}

.login{
  margin-top: 11rem;
}
.flex-container {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}